* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto auto auto 6vh;
}

header{
    background-color: aqua;
    
    background-color: rgb(134,157,199);
    display: flex;
    align-items: center;
    justify-content: center;
    

}
header h1 {
    font-size: 80px;
    font-family: monospace;
    
    
}
nav {
    
    background-color: rgb(179,200,231);
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    padding: 6px 40px;
    text-align: center;

    
    

}
nav a {
    
    padding: 15px;
    background-color: pink;
    font-size: 25px;
    
    color: white;
    text-decoration: none;

}
main {

    padding: 30px;
    line-height: 50px;
    font-size: 20px;
    font-size: 25px;

}
main img {
    float: right;
    width: 300px;


}
main h1 {
    margin:20px 0;
    color: rgb(116, 163, 224);
}
footer {
    background-color: rgb(134,157,199);

    display: flex;
    justify-content: center;
    align-items: center;
    

}
